//  --yellow-theme-background-color: #1d1d1d;
//   --yellow-theme-main-color: #ffdd40;
//   --yellow-theme-sub-text-color: #ffffffff;
//   --yellow-theme-nav-background-color: #181818;

.resume {
  height: 100%;
}
.timeline {
  display: flex;
  padding: 20px;
  width: 100%;

  &__experience,
  &__education {
    width: 50%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--yellow-theme-sub-text-color);

    &__header-text {
      display: inline-block;
      color: var(--yellow-theme-sub-text-color);
      font-size: 22px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
    }

    &__header-text::before,
    &__header-text::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 5px;
      background-color: var(--yellow-theme-main-color);
      bottom: -1px;
    }

    &__header-text::before {
      left: 0;
    }

    &__header-text::after {
      right: 0;
    }

    &__vertical-timeline-element {
      padding: 0px 0px 30px 0px;

      &:last-child {
        padding: 0px;
      }
    }
    .vertical-timeline-element-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3,
      h4 {
        font-size: 16px;
      }
      h4 {
        margin-left: 8px;
      }
    }
    h5 {
      font-size: 14px;
      margin-top: 10px;
    }
    p {
      font-size: 18px;
    }
  }
  .vertical-timeline-element-content.bounce-in {
    box-shadow: none;
  }
}

@media only screen and (max-width: 768px) {
  .timeline {
    flex-direction: column;

    &__experience,
    &__education {
      width: 100%;
      gap: 2rem;
      margin-top: 30px;
    }
  }

  .marker {
    display: none;
  }
  .nav-wrapper {
    position: absolute;
  }
}
